@import "./variables.scss";

@mixin container {
    max-width: 1750px;
    padding: 20px 40px;
    margin: 0 auto;
}

@mixin card-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: $secondary_color;
}